@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

h1 {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 72px;
}

h2 {
    font-family:  'Roboto', Helvetica, sans-serif;
    font-size: 40px;
    color: #7D2D2E;
}

h3 {
    font-family:  'Roboto', Helvetica, sans-serif;
    font-size: 24px;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    line-height: 38px;
    color: #786B5B;

    background-image: url('images/pyramids_w1440px.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

img {
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.card:hover {
    color: #5F191A;
}

a {
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #C8494B 0%, #5F191A 100%);
    color: #FFEDD9;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 24px;
    background: linear-gradient(180deg, #FFE8CF 0%, #D8AD5B 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav li {
    flex: 1; 
    text-align: center;
    padding: 0.75px;
    transition: 1s;
    line-height: 24px;
}

li a {
    color:#FFEDD9;
}

.home_link {
    font-size: 32px;
    font-weight: 900;
}

.wonders_pages {
    font-size: 14px;
    font-weight: 400;
}

.flex {
    padding: 60px;
    display: flex;
    width: 50%;
    margin: 80px auto;
    flex-direction: column;
}

.flex div {
    flex: 1;
}

.left {
    display: flex;
}

.left article{
    flex: 1;
}

.right {
    padding-left: 60px;
}

footer {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background:#262626;
    color: #FFEDD9;
    padding: 10px 100px 10px 100px;
}

