@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');


nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #1F2C20;
  color: #FFEDD9;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 24px;
  background: #BBFFC0;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  text-decoration: none;
}

nav li {
  flex: 1; 
  text-align: center;
  padding: 0.50;
}

li a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color:#BBFFC0;
  text-decoration: none;
}

footer {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1F2C20;
  color: #BBFFC0;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_container {
  display: grid;
  column-count: 3;
  column-gap: 70px;
}

.footer_content {
  margin-left: 100px;
  margin-right: 100px;
}

img {
  width: 100%;
}

h3 {
  font-family: 'Roboto', Helvetica, sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #FFE8D2;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin: 0;
  color: #FFE8D2;
  background: #131A13;
}

a {
  text-decoration: none;
}

.piazza_italia_wordmark {
  position: absolute;
  font-family: 'Rockwell';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.piazza_italia_wordmark_footer {
  font-family: 'Rockwell';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.page_title {
  font-family: 'Rockwell';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  margin-top: 150px;

  background: linear-gradient(180deg, #FFF5C1 0%, #FFA34E 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.subheading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  margin-left: 100px;
  color: #FF2828;
}

.centered_paragraph {
  text-align: center;
  width: 35%;
  margin: auto;
}

.open_hours {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1em;
}

.home_section_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_content {
  width: 100px;
}

.section_text {
  flex: 1;
  min-height: 100px;
  flex-grow: 1;
  align-self: center;
  margin-left: 100px;
  margin-right: 100px;
}

.section_img {
  min-height: 100px;
  flex-grow: 1.2;
  align-self: center;
}

.socialmedia_icons__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1F2C20;
}

.socialmedia_icons_attributes {
  width: 100%;
  padding-left: 210px;
  padding-right: 210px;
  padding-top: 120px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 270px;
}

.home_images_section {
  display: grid;
  grid-template-columns: auto auto auto;
}

.home_hours {
  margin-top: 0;
  flex: 1;
  min-height: 100px;
  flex-grow: 1;
  align-self: center;
  margin-left: 50px;
  line-height: 35px;
}

.deli_info {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 35%;
  margin: auto;
}

.deli_togo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF2828;
}

.about_section_container {
  width: 100%;
  justify-content: center;
}

.about_section_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: 120px;
  margin-right: 120px;
}

.about_paragraph1 {
  margin-left: 40px;
}

.about_paragraph2 {
  margin-bottom: 40px;
  margin-left: 120px;
  margin-right: 120px;
}

.button {
  display: inline-block;
  border-radius: 30px;
  background: #FF2828;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button2 {
  background: #379F3F;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.slider {
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid blue;
}
.slide-content {
  position: relative;
}

.slide-content .cta {
  position: absolute;
  top: 40px;
  left: 40px;

  width: 260px;
  height: 180px;
}
.slide-content .cta.donate {
  background-color: teal;
}
.slide-content .cta.volunteer {
  background-color: pink;
}

.slide-content img {
  width: 100%;
}

.slick-initialized .slick-slide {
  /*display: grid;
	grid-template-columns: 1fr 1fr;*/
}
.my-slick {
  width:80%;
  margin:auto;
}
.my-slide img {
  width: 100%;
}

.my-slide img {
  width: 100%;
}
.my-slide {
  margin: 0 0;
}

/* for Sam G only */
.slick-slide {
  margin: 8px;
  width: 220px;
}
